.item {
  height: 35rem;
  width: 20rem;
  margin: 5rem 1rem;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  object-fit: cover;
}
.item .inner {
  position: relative;
  z-index: 9999;
  padding: 0 1rem;
}
.item:hover {
  transform: translateY(-20px);
}
.item .inner .info {
  padding: 1.2rem 1rem;
  border-radius: 0.6rem;
  margin-top: -2.5rem;
}
.item:hover .info {
  transform: translateY(-30px);
}
.item .inner .info h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: #000;
}
.item .inner .info p {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  margin-top: 0.6rem;
}
.item .inner .info .links {
  margin-top: 1rem;
}
.item .inner .info .links a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 50%;
  color: yellowgreen;
  text-align: center;
  line-height: 2rem;
  margin-left: 0.3rem;
  font-size: 1.1rem;
}
.item .inner .info .links a:hover {
  box-shadow: 0 0 0.6rem #000;
}

@media (min-width: 500px) {
  .item {
    height: 40rem;
    width: 24rem;
    margin: 5rem 1rem;
  }
}
